* {
  box-sizing: border-box;
}
body {
  background-color: #cdcdc0;
}

.search-form {
  /* position: fixed; */
  background-color: #626d71;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: 0px;
  padding: 20px 0px 20px 0px;
  width: 100%;
}
.submit-btn {
  display: inline-block;

  padding: 5px 30px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #b38867;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.load-more {
  display: inline-block;
  padding: 5px 30px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #b38867;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
