* {
  box-sizing: border-box;
}
body {
  background-color: #cdcdc0;
}

.search-form {
  background-color: #626d71;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: 0px;
  padding: 20px 0px 20px 0px;
  width: 100%;
}
.submit-btn {
  display: inline-block;
  padding: 5px 30px;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid black;
  border-radius: 5px;
  background-color: #b38867;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.load-more {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  padding: 5px 30px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #b38867;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.is-hidden {
  display: none;
}
img {
  display: block;
  max-width: 100%;
}
.photo-card {
  border: 1px solid black;
  background-color: #ddbc95;
}
.gallery {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
}
.info {
  text-align: center;
}
